<div class="container-fluid">
    <footer class="row">
        <div class="footer-lists col-md-8">
            <div class="row">
                <div class="footer-list col-sm-3">
                    <span class="footer-list-title">Product</span>
                    <ul>
                        <li>Benefits</li>
                        <li>Features</li>
                        <li>Pricing</li>
                        <li>Security</li>
                        <li>SimScale for Academics</li>
                    </ul>
                </div>
                <div class="footer-list col-sm-3">
                    <span class="footer-list-title">Services</span>
                    <ul>
                        <li>Kick-off Projects</li>
                        <li>Consulting</li>
                        <li>Support</li>
                        <li>Webinars</li>
                    </ul>
                </div>
                <div class="footer-list col-sm-3">
                    <span class="footer-list-title">Resources</span>
                    <ul>
                        <li>Blog</li>
                        <li>Documentation</li>
                        <li>Public Project Library</li>
                        <li>Open Source</li>
                        <li>Videos</li>
                        <li>Workshops</li>
                        <li>Training</li>
                    </ul>
                </div>  
                <div class="footer-list col-sm-3">
                    <span class="footer-list-title">Company</span>
                    <ul>
                        <li>Contact</li>
                        <li>About Us</li>
                        <li>Jobs</li>
                        <li>Press</li>
                        <li>Terms &amp; Conditions</li>
                        <li>Data Privacy</li>
                        <li>Imprint</li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div class="social col-md-4">
            <span class="newsletter-text">Stay informed about SimScale products and sign up for out newsletter.</span>
            <div class="newsletter-field">
                <input type="text" placeholder="Your Email Address" />
                <button class="sign-up">Sign Up</button>
            </div>
            <span class="social-text">Get social with SimScale.</span>
            <div class="social-icons">
                <span><a href="http://xing.de"><i class="xing" title="Xing"></i></a></span>
                <span><a href="http://linkedin.com"><i class="linkedin" title="LinkedIn"></i></a></span>
                <span><a href="http://twitter.com"><i class="twitter" title="Twitter"></i></a></span>
                <span><a href="http://facebook.com"><i class="facebook" title="Facebook"></i></a></span>
                <span><a href="http://plus.google.com"><i class="googleplus" title="Google +"></i></a></span>
                <span><a href="http://youtube.com"><i class="youtube" title="YouTube"></i></a></span>
                <span><a href="rss:subscribe"><i class="rss" title="Rss"></i></a></span>
            </div>
            <div class="stars">
                <span><a href="http://paper.li"><i class="paperli" title="Paper.li"></i>Paper.li</a></span>
                <span><a href="http://slideshare.com"><i class="slideshare" title="Slideshare"></i>Slideshare</a></span>
            </div>
        </div>
    </footer>
</div>
