<div class="container-fluid main-header">
    <header class="row">
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 logo"><img class="logo-img" src="assets/logo.png"></div>
        <nav class="col-lg-9 col-md-8 col-sm-9 col-xs-12">
            <ul class="pull-right">
                <li><a href="">MY PROJECTS</a></li>
                <li><a href="">PUBLIC PROJECTS</a></li>
                <li><a href="">FORUM</a></li>
                <li><a href="">HELP</a></li>
            </ul>
        </nav>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <div class="user-data pull-right">
                <span class="username">Luka Popovic</span>
                <div class="user-picture"><img src=" assets/avatar.jpeg"></div>
            </div>
        </div>
</header>
</div>

<div class="container-fluid global-bar">
    <div class="row">
        <div class="col-md-6 page-title"><h1>{{pageTitle}}</h1></div>
        <div class="col-md-6 control-icons">
            <button type="button" class="btn btn-primary pull-right list-view"><span class="fa fa-list-ul"></span></button>
            <div class="btn-group pull-right action-buttons" role="group" aria-label="...">
              <button type="button" class="btn btn-primary"><span class="fa fa-eye"></span></button>
              <button type="button" class="btn btn-primary"><span class="fa fa-heart"></span></button>
              <button type="button" class="btn btn-primary"><span class="fa fa-code-fork"></span></button>
              <button type="button" class="btn btn-primary"><span class="fa fa-clock-o"></span></button>
            </div>
            <div class="input-group search-field">
              <input type="text" class="search-input form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="search-btn"><span class="fa fa-search"></span></button>
              </span>
            </div>
        </div>
    </div>
</div>