body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  clear: both;
  font-family: verdana;
  font-size: 12px;
  line-height: 16px; }

ul {
  list-style: none;
  padding: 0; }

h1 {
  margin: 0;
  padding: 0; }

.header-container .main-header {
  display: block;
  background-color: #ffffff; }
  .header-container .main-header header {
    margin: 0;
    padding: 0 65px 0 80px; }
    .header-container .main-header header .logo {
      padding: 8px 0; }
      .header-container .main-header header .logo .logo-img {
        width: 30px;
        height: 30px; }
    .header-container .main-header header nav {
      display: block; }
      .header-container .main-header header nav ul {
        float: right;
        display: inline;
        margin: 0; }
        .header-container .main-header header nav ul li {
          padding: 15px;
          display: inline-block; }
    .header-container .main-header header .user-data {
      display: block;
      padding: 8px 0; }
      .header-container .main-header header .user-data .username {
        display: inline-block; }
      .header-container .main-header header .user-data .user-picture {
        display: inline-block; }
        .header-container .main-header header .user-data .user-picture img {
          height: 30px;
          width: 30px;
          border: 2px solid #e4e4e4;
          border-radius: 15px; }

.header-container .global-bar {
  background-color: #f5f5f5;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  display: block; }
  .header-container .global-bar .container-fluid {
    width: 100%; }
  .header-container .global-bar h1 {
    font-size: 26px; }
  .header-container .global-bar .row {
    width: 100%;
    margin: 0;
    padding: 10px 65px 5px 65px; }
  .header-container .global-bar .list-view, .header-container .global-bar .action-buttons {
    margin-left: 5px; }

@media (max-width: 992px) {
  .main-header .logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .main-header nav ul {
    float: left !important; }
  .global-bar .page-title {
    text-align: center;
    padding-bottom: 10px; } }

/* item-list css
:host {
	display: block;
	.row {
    	padding: 40px 80px;
	}	
}

@media (max-width: 500px) { 
    .row {
    	padding: 40px 30px !important;
    }
}	

*/
/* item css
:host {
    height: auto;
    padding: 10px;

    .project-item {
        position: relative;
        top: 0;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        border: 1px solid #e4e4e4;
        border-radius: 2px;
        color: #838384;

        &:hover {
            top: -5px;
            -webkit-box-shadow: -1px 6px 18px -2px rgba(0,0,0,0.62);
            -moz-box-shadow: -1px 6px 18px -2px rgba(0,0,0,0.62);
            box-shadow: -1px 6px 18px -2px rgba(0,0,0,0.62);
        }

        .project-thumbnail {
            width: 100%;
            background-color: #f5f5f5;
        }

        .project-info {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            padding: 10px;
            font-size: 11px;
            
            .user-avatar {
                float: left;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                margin-bottom: 10px;
                border: 1px solid #e4e4e4;
                border-radius: 20px;
            }
            .user-info {
                width: calc(100% - 50px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .project-name {
                font-size: 16px;
                color: #337ab7;
            }
            .owner-name {
                font-size: 10px;
            }
            .statistics {
                color: #838384;
                font-weight: 500;
                font-size: 10px;
            }
        }
        .project-additional-info {
            position: relative;
            width: 100%;
            height: auto;
            padding: 5px 10px;

            .icons {
                float: right;
            }

            .changed {
                font-style: italic;
                font-size: 10px;            
            }
            span.fa {
                color: #337ab7;
            }
        }
    }

    hr {
        margin: 2px;
    }
}
*/
.footer-container {
  display: block;
  min-height: 350px;
  width: 100%;
  background-color: #3b3a35; }
  .footer-container a {
    color: #ffffff; }
    .footer-container a:hover, .footer-container a:visited, .footer-container a:active {
      color: #ffffff;
      text-decoration: none; }
  .footer-container footer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 50px;
    line-height: 20px;
    color: #838384; }
    .footer-container footer .footer-lists .footer-list {
      display: inline-block; }
      .footer-container footer .footer-lists .footer-list .footer-list-title {
        font-size: 14px;
        color: #ffffff; }
    .footer-container footer .social i {
      display: inline-block;
      width: 25px;
      height: 30px; }
    .footer-container footer .social .social-icons {
      display: block; }
      .footer-container footer .social .social-icons span {
        display: inline-block;
        padding: 5px; }
      .footer-container footer .social .social-icons .xing {
        background: url(../../assets/x.png) no-repeat; }
      .footer-container footer .social .social-icons .linkedin {
        background: url(../../assets/l.png) no-repeat; }
      .footer-container footer .social .social-icons .twitter {
        background: url(../../assets/t.png) no-repeat; }
      .footer-container footer .social .social-icons .facebook {
        width: 15px;
        background: url(../../assets/f.png) no-repeat; }
      .footer-container footer .social .social-icons .googleplus {
        width: 30px;
        background: url(../../assets/g.png) no-repeat; }
      .footer-container footer .social .social-icons .youtube {
        width: 38px;
        background: url(../../assets/y.png) no-repeat; }
      .footer-container footer .social .social-icons .rss {
        width: 28px;
        background: url(../../assets/rss.png) no-repeat; }
    .footer-container footer .social .stars span {
      padding-right: 10px; }
    .footer-container footer .social .stars .paperli, .footer-container footer .social .stars .slideshare {
      position: relative;
      top: 8px;
      width: 25px;
      height: 25px;
      background: url(../../assets/star.png) no-repeat; }
    .footer-container footer .social .newsletter-field {
      padding: 10px 0; }
      .footer-container footer .social .newsletter-field input {
        height: 30px;
        width: calc(100% - 100px); }
    .footer-container footer .social .sign-up {
      background-color: #0077a9;
      border: none;
      padding: 5px 24px;
      color: #ffffff; }
